body{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;

}

#map{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;                  
}


.tile-space
{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}

.tile-goal
{
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}

.entity-block
{
    background-color: rgb(100, 48, 24);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}

.entity-block-goal
{
    background-color: rgb(255, 123, 0);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}

.entity-player
{
    background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}

.tile-wall
{
    background-color: grey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}